<div class="user_avatars">
	<%= gravatar_for current_user %>
	<h3><%= current_user.username %><h3>
</div>

<p>
<div class="span6 offset1">
	<ul>
		<li><%= link_to "Administrators", users_path(type: 1, desc: 'Administrators', class_id: 0) %></li>
		<li><%= link_to "Teachers", users_path(type: 2, desc: 'Teachers', class_id: 0) %></li>
		<li><%= link_to "Classes", class_sections_path %></li>
		<li><%= link_to "Guardians", users_path(type: 4, desc: 'Guardians', class_id: 0) %></li>
	<ul>
</div>
</p>