<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

</br>

<% @terms = Term.select('name, term_from, term_to').where('school_id = ?', current_user.school_id) %>

<% if @terms.count == 0 %>
	<div class="span7">
		<div class="row">
			<div class="well" style="width:100%;">
				<div class="alert alert-dismissable alert-success">
					No terms defined yet. Reports can not be generated without Terms. Please go to Settings > Terms to add new Term.
				</div>
			</div>
		</div>
	</div>
	
<% else %>

	<div class="span7">
		<div class="row">
			<div class="well" style="width:100%;">
				<div class="alert alert-dismissable alert-success">
					Points scored by all the students every school term
					
				</div>
			</div>
		</div>
	</div>

	<% data = Array.new %>

	<% @terms.each do |term| %>
		<% @points = StudentPoint.joins(:user).where('school_id = ? AND student_points.created_at >= ? and student_points.created_at < ?', current_user.school_id, term.term_from, term.term_to).sum(:assigned_points) %>
		<% @number_of_students = StudentPoint.joins(:user).select('DISTINCT users.id').where('school_id = ? AND student_points.created_at >= ? and student_points.created_at < ?', current_user.school_id, term.term_from, term.term_to).count %>
		<% arr = Array.new %>
		<% arr.push(term.name) %>
		<% arr.push((@points/@number_of_students).to_int) %>
		<% data.push(arr) %>
	<% end %>

	<div class="span7">
		<div class="row">
			<div class="well" style="width:100%;">
				<%= column_chart data %>
			</div>
		</div>
	</div>

	</br>
	<div class="span7">
		<div class="row">
			<div class="well" style="width:100%;">
				<div class="alert alert-dismissable alert-success">
					Percentage of points students were awarded/penalized during the current term for each defined activity  
				</div>
			</div>
		</div>
	</div>

	<% @current_term = Term.select('id, term_from, term_to').where('term_from <= ? AND school_id = ?', Time.now, current_user.school_id).order('term_from desc').first %>
	<% pie = Hash.new %>

	<% @a = Point.select('points.id').joins(:student_points).where('(student_points.point_id <> 1 AND student_points.point_id <> 2) AND student_points.created_at >= ? and student_points.created_at < ? AND school_id = ?', @current_term.term_from, @current_term.term_to, current_user.school_id).group("point_id").count %>

	<% @a.each do |k,v| %>
		<% @point = Point.select('description').where('id = ? AND school_id = ?', k, current_user.school_id).first %>
		<% pie[@point.description] = v %>
	<% end %>

	<div class="span7">
		<div class="row">
			<div class="well" style="width:100%;">
				<%= pie_chart pie %>
			</div>
		</div>
	</div>


	</br>
	<div class="span7">
		<div class="row">
			<div class="well" style="width:100%;">
				<div class="alert alert-dismissable alert-success">
					Percentage of points students were penalized during the current term for each defined unfavourable behavior  
				</div>
			</div>
		</div>
	</div>

	<% pie = Hash.new %>

	<% @a = Point.select('id').joins(:student_points).where('(student_points.point_id <> 1 AND student_points.point_id <> 2) AND student_points.created_at >= ? and student_points.created_at < ? AND school_id = ?', @current_term.term_from, @current_term.term_to, current_user.school_id).where('assigned_points < 0').group("point_id").count %>

	<% @a.each do |k,v| %>
		<% @point = Point.select('description').where('id = ? AND school_id = ?', k, current_user.school_id).first %>
		<% pie[@point.description] = v %>
	<% end %>

	<div class="span7">
		<div class="row">
			<div class="well" style="width:100%;">
				<%= pie_chart pie %>
			</div>
		</div>
	</div>

	</br>
	<div class="span7">
		<div class="row">
			<div class="well" style="width:100%;">
				<div class="alert alert-dismissable alert-success">
					Percentage of points students were awarded during the current term for each defined good behavior  
				</div>
			</div>
		</div>
	</div>

	<% pie = Hash.new %>

	<% @a = Point.select('id').joins(:student_points).where('(student_points.point_id <> 1 AND student_points.point_id <> 2) AND student_points.created_at >= ? and student_points.created_at < ? AND school_id = ?', @current_term.term_from, @current_term.term_to, current_user.school_id).where('assigned_points > 0').group("point_id").count %>

	<% @a.each do |k,v| %>
		<% @point = Point.select('description').where('id = ? AND school_id = ?', k, current_user.school_id).first %>
		<% pie[@point.description] = v %>
	<% end %>

	<div class="span7">
		<div class="row">
			<div class="well" style="width:100%;">
				<%= pie_chart pie %>
			</div>
		</div>
	</div>

	</br>

	<div class="span7">
		<div class="row">
			<div class="well" style="width:100%;">
				<div class="alert alert-dismissable alert-success">
					Percentage of points awarded/penalized per class during the current term for each defined unfavourable behavior   
				</div>
			</div>
		</div>
	</div>

	<% pie = Hash.new %>

	<% @a = StudentPoint.joins(:user).where('(student_points.point_id <> 1 AND student_points.point_id <> 2) AND student_points.created_at >= ? and student_points.created_at < ? AND school_id = ?', @current_term.term_from, @current_term.term_to, current_user.school_id).where('assigned_points < 0').group("class_id").count %>

	<% @a.each do |k,v| %>
		<% @class = ClassSection.select('description').where('id = ? AND school_id = ?', k, current_user.school_id).first %>
		<% pie[@class.description] = v %>
	<% end %>

	<div class="span7">
		<div class="row">
			<div class="well" style="width:100%;">
				<%= pie_chart pie %>
			</div>
		</div>
	</div>
<% end %>	