<h1>Sign in</h1>
<div class="span7">
    <div class="row">
        <div class="well" style="width:100%;">

		<%= form_for(:session, url: sessions_path, :html => {:class => 'form-horizontal'}) do |f| %>
		<fieldset>
			<% flash.each do |key, msg| %>
				<div class="alert alert-dismissable alert-danger">
				  <button type="button" class="close" data-dismiss="alert">×</button>
				  <p><%= msg %></p>
				</div>
			<% end %>
			
			<div class="form-group">
				<%= f.label :login, :class=>'col-sm-2 control-label' %>
				<div class="col-xs-5">
					<%= f.text_field :email, :placeholder => 'Username/Email', :class=>'form-control'%>
				</div>
			</div>
			
			<div class="form-group">
				<%= f.label :password, :class=>'col-sm-2 control-label' %>
				<div class="col-xs-5">
					<%= f.password_field :password, :placeholder => 'Password', :class=>'form-control'%>
				</div>
			</div>

			<div class="form-actions">
				<div class="col-sm-offset-2 col-sm-10">
					<%= f.submit "Sign in", class: "btn btn-primary" %>
				</div>	
			</div>
						
			</br></br> </br>
	
			<div class="col-sm-offset-2 col-sm-10">
				<%= f.label :remember_me %>
				<%= f.check_box :remember_me %>
		    	</div>

			<div class="col-sm-offset-2 col-sm-10">
				<p><%= link_to "Forgot password?", new_password_reset_path %></p>
			</div>	

		<fieldset>
		<% end %>
	  </div>
    </div>
</div>