<h1>Listing points</h1>

<% if current_user.type == 1 || current_user.type == 2 %>
	</br>
	<%= render 'form' %>
	<hr>
<% end %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Description</th>
      <th>Value</th>
      <th>Carded Offenses</th>
    </tr>
  </thead>

  <tbody>
    <% @points.each do |point| %>
      <tr>
        <td><%= point.description %></td>
	<% if point.credit %>
        	<td><%= point.value %></td>
	<% else %>
		<td><%= point.value * -1 %></td>
	<% end %>
	<% @desc = CardOffenseType.select('description').where('id = ?', point.card_offense_id).first %>
	<td><%= @desc.description %></td>

	<% if current_user.type == 1 %>
        	<td><%= link_to 'Edit', edit_point_path(point) %></td>
       		<td><%= link_to 'Remove', point, method: :delete, data: { confirm: 'Are you sure you want to remove this point?' } %></td>
	<% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
