<h2>Listing points</h2>
<div class="alert alert-dismissable alert-success"> 	
    <div id="name" style='width:15%'>
    	<%= image_tag "star.png" %>  
    </div>
    <br/><br/>
    <div>
		<% if current_user.type = 1 || current_user.type = 2 %>
			Add School Points to encourage the student behaviour or report unfavourable behaviour, according to the school policy.</br> If the point is for bad behaviour make sure you enter negative points, also remember to check the <b>'Credit'</b> checkbox. Choose the Card given in case of bad behaviour, however that is not required. Parents will be notified in case of carded offense as the per the school policies as set in the Settings. Contact your administrator to know more.
		<% else %>
			Listing of points.</br>Carded Offenses will be dealt with according to the school policies.<br/><br/>
		<% end %>
	</div> 
</div>

<% if current_user.type == 1 || current_user.type == 2 %>
	</br>
	<%= render 'form' %>
	<hr>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Value</th>
      <th>Carded Offenses</th>
    </tr>
  </thead>

  <tbody>
    <% @points.each do |point| %>
      <tr>
        <td>
        	<% if point.credit %>
				<div class="alert alert-dismissable alert-success">
			<% else %>
				<div class="alert alert-dismissable alert-warning">
			<% end %>
				<%= point.description %></td>
			</div>
	<% if point.credit %>
        	<td><%= point.value %></td>
	<% else %>
		<td><%= point.value * -1 %></td>
	<% end %>
	<% @desc = CardOffenseType.select('description').where('id = ?', point.card_offense_id).first %>
	<td>
		<%= @desc.description %>
	</td>

	<% if current_user.type == 1 %>
        	<td>
        		<%= link_to edit_point_path(point), :rel=>"tooltip", "data-placement"=>"right", "data-original-title"=>"Edit" do %> 
					<i class="glyphicon glyphicon-pencil"></i> 
				<% end %>
        	</td>
       		<td>
       			<%= link_to point, method: :delete, data: { confirm: 'Are you sure you want to remove this point?' } , :rel=>"tooltip", "data-placement"=>"right", "data-original-title"=>"Remove" do %> 
					<i class="glyphicon glyphicon-trash"></i> 
				<% end %>
       		</td>
	<% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
