<h1>Listing points</h1>
</br>
<%= link_to 'New Point', new_point_path %>
<hr>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Description</th>
      <th>Value</th>
      <th>Carded Offenses</th>
    </tr>
  </thead>

  <tbody>
    <% @points.each do |point| %>
      <tr>
        <td><%= point.description %></td>
	<% if point.credit %>
        	<td><%= point.value %></td>
	<% else %>
		<td><%= point.value * -1 %></td>
	<% end %>
	<% @desc = CardOffenseType.select('description').where('id = ?', point.card_offense_id).first %>
	<td><%= @desc.description %></td>
        <td><%= link_to 'Edit', edit_point_path(point) %></td>
        <td><%= link_to 'Remove', point, method: :delete, data: { confirm: 'Are you sure you want to remove this point?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
