<script type="text/javascript">
$(document).ready(function(){
	$('#hover_text_<%= idea_id %>').click(function(){
		$('#hoverbutton_<%= idea_id %>').show();
	});
});


</script>
<% if @comment.nil? %>
	<% @comment = Comment.new %>
<% end %>

<%= form_for @comment, :html => {:class => 'form-horizontal'}, :remote => true do |f| %>
	<fieldset>
	  <% if @comment.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this idea from being saved:</h2>

		  <ul>
		  <% @comment.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		  <% end %>
		  </ul>
		</div>
	  <% end %>
	
	 <div id='hover_text_<%= idea_id %>'>
		<%= f.text_area :comment, :cols => "85", :rows => "3", :placeholder => "Add your two cents..." %>
		<%= button_tag(type: 'Add', class: "btn-small btn-primary", id: "hoverbutton_#{idea_id}", remote: true) do %>
			<span class="glyphicon glyphicon-comment"></span>
		 <% end %>
	 </div> 
	  
	<%= f.hidden_field :user_id, :value => current_user.id %> 
	<%= f.hidden_field :idea_id, :value => idea_id %>
		
	</fieldset>
<% end %>