<tr>
	<td colspan="4" class="separate-below-none"><b><%= link_to idea.first_name + ' ' + idea.last_name, user_path(idea.user_id)%></b></td>
</tr>
<tr>
	<td/>
	<td colspan="2" rowspan="2"> <%= idea.idea %> </td>
	<td><% if idea.user_id == current_user.id %> <%= link_to 'Edit', edit_idea_path(idea) %> <% end %></td>
</tr>
<tr>
	<td/>
	<td><% if idea.user_id == current_user.id %> <%= link_to 'Remove', idea, method: :delete, data: { confirm: 'Are you sure you want to remove this idea from the bank?' } %> <% end %> </td>
</tr>
<tr>
	<td colspan="4" class="separate-below-none"/>
</tr>
<tr>
	<td/>
	<td><b>Last Updated:</b> <%= idea.updated_at %></td>
	<td><%= idea.likes_count %> <% if params[:portal_id] != '1' && current_user.id != idea.user_id %> <%= link_to 'likes', add_like_path(idea.id) %> <% else %> likes <% end %> </td>
	<td>	
		<% if idea.accepted == false %>
			<% if current_user.type == 2 && idea.moderator_id == current_user.id%>
				<%= link_to 'Accept', accept_path(idea.id) %>
			<% else %>
				To be accepted
			<% end %>
		<% else %>
			Accepted
		<% end %>
	</td>
</tr>
<tr>
	<td colspan="3" class="separate-below-none"/>
</tr>
<tr>
	<td colspan="2"/>
	<td colspan="2"> <% if current_user.type == 2 || params[:portal_id] == '1' %> <b>Moderator:</b> <%= idea.moderator_user_first_name + ' ' + idea.moderator_user_last_name %> <% end %></td>
</tr>
<tr>
	<td colspan="3" class="separate-below-none"/>
</tr>
<tr>
	<!--use this later: http://kav1nsky.wordpress.com/2011/09/27/rails-many-to-many-and-jquery-tagging-like-wordpress-style/-->
	<td colspan="4"> <b>Tags: </b> 
		<ul>
			<% @idea_tags = Tag.joins(:tag_comment_ideas).select('description, tag_comment_ideas.id as tag_idea_id, tag_comment_ideas.tag_id as tag_idea_tag_id, tag_comment_ideas.idea_id as tag_idea_idea_id').where('idea_id = ?', idea.id) %> 
			<% @idea_tags.each do |i| %>
				
				<% @tag =  TagCommentIdea.where('tag_id = ? and idea_id = ?', i.tag_idea_tag_id, i.tag_idea_idea_id).first %>
				
				<li><%= i.description %> <%= link_to 'Remove', @tag, method: :delete, data: { confirm: 'Are you sure you want to remove the tag?' } %> </li>
		
			<% end %>
		</ul>	
	</td>
</tr>
<tr>
	<td colspan="3" class="separate-below-none"/>
</tr>

<tr>
	<td colspan="4">
	<% @tag_comment_ideas = TagCommentIdea.new %>
	<%= form_for @tag_comment_ideas, :html => {:class => 'form-horizontal'} do |f| %>
      <%= f.hidden_field :idea_id, :value => idea.id %> 
	  <%= f.select :tag_id, options_for_select(@tag_options)%>
	  <%= f.submit "Save changes", class: "btn-small btn-primary" %>
	<% end %>
	</td>
</tr>

<tr>
	<td colspan="3" class="separate-below-none"/>
</tr>

<tr>
	<!--use this later: http://kav1nsky.wordpress.com/2011/09/27/rails-many-to-many-and-jquery-tagging-like-wordpress-style/-->
	<td colspan="4"> <b>Comments: </b> 

			<% @comments = Comment.joins(:user).select('comment, users.first_name AS user_first_name, users.last_name AS user_last_name').where('idea_id = ?', idea.id) %> 
			<% @comments.each do |comment| %>
				
				<p><a><%= comment.user_first_name + ' ' + comment.user_last_name + ' - '%></a> <%= comment.comment %></p>
		
			<% end %>

	</td>
</tr>

<tr class="separate-below">
	<td colspan="4">
		<%= render 'comment', :idea_id => idea.id  %>
	<td>
</tr>


