<h1>Listing ideas</h1>

<% set_product_ideas %>
</br>
<% if params[:portal_id] == '1' %>
	<%= render 'form' %>
<% end %>

<% if current_user.type == 2 && params[:portal_id] == '2' %>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>My classes</th>
				<th>Action</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<% @teacher_class_options.each do |teacher_class| %>
				<tr>
					<td><%= teacher_class[0] %></td>
					<td><%= link_to 'Not Yet Accepted', get_portal_ideas_path(2,teacher_class[1],0) %></td>
					<td><%= link_to 'Accepted', get_portal_ideas_path(2,teacher_class[1],1) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<br/><br/>
<% end %>

<% @ideas.each do |idea| %>
	<%= render idea %>
<% end %>

