<script type="text/javascript">
	function search_ideas() {
		if ($('#accept').is(':checked'))
			accepted = 1;
		else
			accepted = 0;
		
		window.location = '/ideas/get_ideas/2/' + $("#ddl_class").val() + '/' + accepted + '/0';
	}
	
</script>

<div class="page">	
	<div class="text_25_right">
		<div class="bulletin_90_right">
			<%= render 'bulletin_board' %>
		</div>
	</div>

	<div class="text_75_left">
		
		<div class="text_25_left">
			<%= image_tag "myidea.png" %>
		</div>
		
		<div class="text_75_right">
			<% if current_user.type == 2 && params[:portal_id] == '0' %>
				<h3><%= link_to 'Ideas to be Accepted', get_portal_ideas_path(0,0,0,0) %></h3>
			<% end %>

			<% set_product_ideas %>
			</br>
			<% if params[:portal_id] == '1' && params[:tag_id] == '0' %>
				<h3> My new Idea:
					<%= link_to new_idea_path, :rel=>"tooltip", "data-placement"=>"right", "data-original-title"=>"New idea", :remote => true do %>
						<i class="glyphicon glyphicon-plus-sign"></i> 
					<% end %>
				</h3>
			
			<% end %>
		
			<div class="row">
				<div id="form_idea" style="display:none;"></div>
			</div>

			<% if current_user.type == 2 && params[:portal_id] == '2' %>
				<div class="alert alert-dismissable alert-success"> 
					Look for Ideas for different classes by choosing the class and checking the Is Accepted checkbox (if you are looking for ideas that were accepted) or leaving the checkbox unchecked (if you are looking for ideas that were not accepted).
					</br>
					</br>
					<label> Class:  </label>
					<%= select_tag(:class_id, options_for_select( [['Select One', '']] + @class_options), :id => 'ddl_class') %>
					</br>
					<label> Is Accepted:  </label>
					<%= check_box_tag 'accept' %>
					
				
					<%= button_tag(type: 'button', class: "btn-small btn-primary", :remote => true, :onclick => 'search_ideas()') do %>
					 
					<%= content_tag(:strong, 'Search Ideas!') %>
					<% end %>
				</div>
				<br/><br/>
			<% end %>
		
			<% if @ideas.empty? %>
				<div class="alert alert-dismissable alert-danger"> You have not added any ideas yet, start now. You can select a moderator if you would like the idea to be moderated by a teacher, if you do not choose a moderator the idea will be posted on the class portal. </div>
			<% else %>
				<div id="all_ideas">
					<% @ideas.each do |idea| %>
						<%= render idea %>
					<% end %>
				</div>
			<% end %>
		
			<div id="infinite-scrolling">
			  <%= will_paginate %>
			</div>
		</div>
	</div>
</div>
