<h1>Alert Settings</h1>

<% if current_user.type == 1 %>
 <%= form_for(@alert_setting) do |f| %>
  <% if @alert_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alert_setting.errors.count, "error") %> prohibited this alert_setting from being saved:</h2>

      <ul>
      <% @alert_setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :default_points %><br>
    <%= f.number_field :default_points %>
  </div>
   <div class="field">
    <%= f.label :min_points_required %><br>
    <%= f.number_field :min_points_required %>
  </div>
   <div class="field">
    <%= f.label :send_auto_email %><br>
    <%= f.check_box :send_auto_email %>
  </div>
   <div class="field">
    <%= f.label :max_warnings_before_email_alert %><br>
    <%= f.number_field :max_warnings_before_email_alert %>
  </div>
   <div class="field">
    <%= f.label :min_points_for_penalty %><br>
    <%= f.number_field :min_points_for_penalty %>
  </div>
   <div class="field">
    <%= f.label :repetition_of_mistake_before_email %><br>
    <%= f.number_field :repetition_of_mistake_before_email %>
  </div>
   <div class="field">
    <%= f.label :penalty_carried_over %><br>
    <%= f.number_field :penalty_carried_over %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
 <% end %>
<% end %>

