<h1>Listing terms</h1>

<div class="alert alert-dismissable alert-success">
	Note: On Creation of a new Term default points, as defined in 'Settings > Alert Settings', will be added automatically for all the students. 
	Also, penalty points will be deducted based on previous year's performance, again as defined in 'Settings > Alert Settings'.
	</br>
	</br>
	If a Term is Destroyed all points awarded to the students for the term, will be deleted. 
	Please make sure you have alerted the teachers if you do so. 
</div>

<%= render 'form' %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>From</th>
      <th>To</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @terms.each do |term| %>
      <tr>
        <td><%= term.name %></td>
        <td><%= term.term_from.strftime("%m/%d/%y") %></td>
        <td><%= term.term_to.strftime("%m/%d/%y") %></td>
        <td><%= link_to 'Destroy', term, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
