<%= form_for(@tag_comment_idea) do |f| %>
  <% if @tag_comment_idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag_comment_idea.errors.count, "error") %> prohibited this tag_comment_idea from being saved:</h2>

      <ul>
      <% @tag_comment_idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tag_id %><br>
    <%= f.number_field :tag_id %>
  </div>
  <div class="field">
    <%= f.label :comment_id %><br>
    <%= f.number_field :comment_id %>
  </div>
  <div class="field">
    <%= f.label :idea_id %><br>
    <%= f.number_field :idea_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
