<h1>Listing <%= params[:desc] %> </h1>

<h3>Import <%= params[:desc] %></h3>

<div class="span7">
	<div class="row">
		<div class="well" style="width:100%;">
			<div class="alert alert-dismissable alert-success">
				To add users with the help of an Excel sheet please download the Sample Excel File. Remove the sample users and replace with your users. Fill in the appropriate Type: 1 - Administrators, 2 - Teachers, 3 - Students and 4 - Guardians. </br></br>
				Please contact the admin for the school ID. This is very important else you will end up exposing your users to a different school. If you are the admin the school id is on the home pag, along with the other information about the school. </br></br>
				You do not need to add the enrollment_id unless the user is a Student. </br></br>
				Password and Password_confirmation fields should be equal.
			</div>
		</div>
	</div>
</div>

<h5> 
	<%= link_to :controller => 'users', :action => 'download_sample', :id => current_user.id , :rel=>"tooltip", "data-placement"=>"right", "data-original-title"=>"Download Sample Excel File" do %>
		Download Sample Export File <i class="glyphicon glyphicon-download-alt"></i> 
	<% end %>
</h5>

<%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file %>
  </br>
  <%= button_tag(type: 'Import', class: "btn-small btn-primary", rel: "tooltip", title: "Import Users") do %>
	  <span class="glyphicon glyphicon-upload"></span> 
  <% end %>
<% end %>

<hr>
<%= link_to new_user_path(:type => params[:type]) do %>
	Add <%= params[:desc] %> <i class="glyphicon glyphicon-plus"></i> 
<% end %>
<hr>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <% if params[:type].to_s == "3" %>
      	<th>Enrollment ID</th>
      <% end %>
      <th>Username</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
	<% @users.each do |user| %>
		<%= render user, type: params[:type], guardian_id: params[:guardian_id], search: params[:search] %>
	<% end %>
  </tbody>
</table>
