<% set_product_points %>

<div class="col-md-3">
	</br>
	</br>
	<% if @user.usr_type == 3 %>
		<% if @user.email? %>
			<%= gravatar_for(@user) %>
		<% else %>
			<%= image_tag "student.jpeg" %>
		<% end %>
	<% else %>
		<%= image_tag "admin.png" %>
	<% end %>
	</br>
	</br>
	<% if current_user.type == 1 || current_user.type == 2 || current_user.type == 3 %>
		<%= link_to edit_user_path(@user), :rel=>"tooltip", "data-placement"=>"right", "data-original-title"=>"Edit User" do %> 
			<b>Account Settings </b><i class="glyphicon glyphicon-pencil"> </i>
		<% end %>
	<% end %>
</div>

<div class="col-md-9">
	<% if @user.id != current_user.id %>
		</br>
		</br>
		<table class="btn-group-vertical">
			<tr>
				<td><strong>Full name</strong></td>
				<td><strong> : </strong></td>
				<td class="col-xs-10"><%= @user.first_name %> <%= @user.last_name %></td>
			</tr>
			<tr>
			  <td><strong>Username</strong></td>
			  <td><strong> : </strong></td>
			  <td class="col-xs-10"><%= @user.username %></td>
			</tr>

			<tr>
			  <td><strong>Email</strong></td>
			  <td><strong> : </strong></td>
			  <td class="col-xs-10"><%= @user.email %></td>
			</tr>

			<tr>
			  <td><strong>User Type</strong></td>
			  <td><strong> : </strong></td>
			  <td class="col-xs-10">
				  <% if @user.usr_type == 1 %>
					Administrator
				  <% elsif @user.usr_type == 2 %>
					Teacher
				  <% elsif @user.usr_type == 3 %>
					Student
				  <% else @user.usr_type == 4 %>
					Guardian
				  <% end %>
			  </td>
			</tr>
		
			<% unless @user.usr_type == 4 || @user.id != current_user.id %>
				<tr>
				  <td><strong>School</strong></td>
				  <td><strong> : </strong></td>
				  <td class="col-xs-10"><%= @user.name %></td>
				</tr>
		
				<tr>
				  <td><strong>Address</strong></td>
				  <td><strong> : </strong></td>
				  <td class="col-xs-10"><%= @user.address %></td>
				</tr>

				<tr>
				  <td><strong>Phone Number</strong></td>
				  <td><strong> : </strong></td>
				  <td class="col-xs-10"><%= @user.phone_no %></td>
				</tr>
			<% end %>
	
			<% if @user.usr_type == 3 %>
				<tr>
				  <td><strong>Enrollment</strong></td>
				  <td><strong> : </strong></td>
				  <td class="col-xs-10"><%= @user.enrollment_id %></td>
				</tr>

				<tr>
				  <td><strong>Class</strong></td>
				  <td><strong> : </strong></td>
				  <td class="col-xs-10"><%= @user_grade %></td>
				</tr>
			<% end %>
		</table>
	<% end %>	
	<% if @user.id == current_user.id %>
		<h2>Welcome, <%= @user.first_name %> <%= @user.last_name %>!</h2>
	<% end %>
	<% if @user.usr_type == 4 %>
		
		  <% @guardians = get_guardians(@user.id) %>
		  <% if @guardians.any? %>
		  	   <hr>
			   <h3>
					Guardians
					<%= link_to new_user_path(:type => 4, :ward => @user.id), :rel=>"tooltip", "data-placement"=>"right", "data-original-title"=>"Add Guardians" do %>
						<i class="glyphicon glyphicon-plus-sign"></i> 
					<% end %>
			   </h3>
			   <table class="table table-striped table-hover">
				<thead>
				<tr>
				  <th>Username</th>
				  <th>Name</th>
				  <th>Action</th>
				</tr>
				</thead>
				<tbody>
				<% @guardians.each do |user| %>
					<%= render user, type: params[:type] %>
				<% end %>
				</tbody>
			   </table>
		<% end %>
		
	<% end %>
	
	<p>
		<% if current_user.type == 2 && class_teacher?(current_user.id, @user.class_id)%>
			<hr>

			<h4>New Point</h4>
			<div class="span7" style="width:100%;">
				<div class="row">
					<div class="well">
					<% if @student_point.nil? %>
						<% @student_point = StudentPoint.new %>
					<% end %>
					<%= form_for @student_point, :html => {:class => 'form-horizontal'} do |f| %>
						<fieldset>
						  <% if @student_point.errors.any? %>
							<div id="error_explanation">
							  <h2><%= pluralize(@student_point.errors.count, "error") %> prohibited this point from being saved:</h2>

							  <ul>
							  <% @student_point.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							  <% end %>
							  </ul>
							</div>
						  <% end %>

						  <div class="form-group">
							   <%= f.label :point_id, :class=>'col-sm-2 control-label' %>
							   <div class="col-xs-4">
								<%= f.select :point_id, @point_options, {:include_blank =>'select one'}, :onchange => 'get_point(this.value)', :id => "point", :style => "width:300px"%>
							   </div>
						  </div>

						  <div class="form-group">
							<%= f.label :assigned_points, :class=>'col-sm-2 control-label' %>
							<div class="col-xs-4">
								<%= f.number_field :assigned_points, :id => "assigned_points_value"%>
							</div>
						  </div>

						  <div class="form-group">
							<%= f.label :card_offense_id, :class=>'col-sm-2 control-label' %>
							<div class="col-xs-4">
								<%= f.text_field(:card_offense_id, :id => "assigned_points_card", :readonly => true, :value => "None") %>
							</div>
						  </div>
			  
						  <%= f.hidden_field :user_id, :value => @user.id %> 
						  <%= f.hidden_field :card_offense_id, :id => "assigned_points_card_id" %> 
		  
						  <%= button_tag(type: 'Add Point', class: "btn-small btn-primary", rel: "tooltip", title: "Add Point") do %>
							<span class="glyphicon glyphicon-plus"></span> 
						  <% end %>
						  
						</fieldset>	  
					<% end %>

				</div>
				</div>
			</div>
		<% end %>
		
		<% unless current_user.type == 1 %>
			
			<div class="span8">
				<% if @student_points_desc.nil? == false && @student_points_desc.any? %>	
					<h3>
						
						<%= link_to user_report_path(:user_id => @user.id), :rel=>"tooltip", "data-placement"=>"right", "data-original-title"=>"Generate Report" do %>
							Total Points earned this semester : <%= @total_points %> <i class="glyphicon glyphicon-cog"></i> 
						<% end %>
					</h3>
					<hr>
				
					<table class="table table-striped table-hover">
					  <thead>
						<tr>
						  <th>Description</th>
						  <th>Credit</th>
						  <th>Debit</th>
						  <th>Cummulative Points</th>
						</tr>
					  </thead>

					  <tbody>
						<% @sum = 0 %>
						<% @student_points_desc.each do |point| %>
						<tr>
							<%= render point %>
						</tr>	
						<% end %>
					  </tbody>
					</table>

				<% end %>
			</div>
		<% end %>
	</p>
	
	<!--if the user is a guardian help them search for their ward-->
	<% if @user.usr_type == 4 %>
		<hr>
		<h3>Add Ward</h3>
		</br>
		
	   <%= form_tag(users_path, :method => "get", class: "form-search", id: "search-form") do %>
			<div class="input-append">
			  <%= text_field_tag :search, params[:search], class: "span2 search-query", placeholder: "Student Enrollment ID" %>
			  <%= hidden_field_tag 'guardian_id', @user.id %>
			  <!-- In order to have the "search" icon int the button, we need to use plain HTML instead 
				   of using a Rails form helper -->
			  <%= button_tag(type: 'submit', class: "btn-small btn-primary", rel: "tooltip", title: "Search") do %>
					<span class="glyphicon glyphicon-search"></span> 
			  <% end %>
			</div>
	  <% end %>
	  <%= yield %>
	  
	  <% @temp = @user%>
	  <% @wards = get_wards(@user.id) %>
	  <% if @wards.any? %>
	  	   </br>
	  	   <hr>
	  	   <h3>Wards</h3>
		   <table class="table table-striped table-hover">
			<thead>
			<tr>
			  <th>Enrollment ID</th>
			  <th>Username</th>
			  <th>Name</th>
			  <th>Action</th>
			</tr>
			</thead>
			<tbody>
			<% @wards.each do |user| %>
				<%= render user, type: params[:type] %>
			<% end %>
			</tbody>
		   </table>
	   <% end %>
	<% end %>
	
	<!-- temp is used to temporarily store user object because it is overwritten by render user -->
	<% unless @temp.nil? %>
		<% @user = @temp %>
	<% end %>
	<% if @user.usr_type == 2 %>

		<h3>My Classes</h3>
		
		 <p>
			<% if current_user.type == 1 %>
				<%= render 'class' %>
			<% end %>
		 </p>	
		 <% if @teacher_class.any? %>
			 <table class="table table-striped table-hover">
			  <thead>
				<tr>
				  <th>Classes</th>
				  <th>Teacher Role</th>
				  <th>Action</th>
				</tr>
			  </thead>

			  <tbody>
				<% @teacher_class.each do |class_section| %>
				  <tr>
					<td><%= link_to get_teacher_class(class_section.class_section_id), users_path(type: 3, desc: 'Students', class_id: class_section.class_section_id)%></td>
					<td><%= get_teacher_role(class_section.teacher_role_id) %></td>
					<td>
						<%= link_to class_section, method: :delete, data: { confirm: 'Are you sure you want to remove this user?' } , :rel=>"tooltip", "data-placement"=>"right", "data-original-title"=>"Remove" do %> 
							<i class="glyphicon glyphicon-trash"></i> 
						<% end %>
					</td>
				  </tr>
				<% end %>
			  </tbody>
			 </table>
		 <% end %>
 
	<% end %>
	
	<% if current_user.type == 1 &&  @user.usr_type == 1 %>
		<% if @term_count == 0 || @point_options.length == 0 %>
			<div class="span7" style="width:100%;">
				<div class="row">
					<div class="well">
						<div class="alert alert-dismissable alert-warning">
					
								Before starting the Settings section should be used to define School Terms (semester/yearly), Alert settings for the school term, and the Points pertaining to defined behaviors.</br></br>

						</div>
					</div>
				</div>
			</div>
		<% end %>
		
		<div class="span7" style="width:100%;">
			<div class="row">
				<div class="well">
					<div class="alert alert-dismissable alert-success">
							As the Administrator of the site, you can edit Users (Teachers, Guardians and Classes > Students). Explore these options in the Users dropdown list in the navigation bar.</br></br>
							To add new users go to the particular user type in the Users menu and click 'New User'. Every user can be edited or removed except the Administrators.</br></br>
							The Reports section shows the school reports based on the data accumulated.</br></br>
							The Settings section should be used to define School Terms (semester/yearly), Alert settings for the school term, and the Points pertaining to defined behaviours.</br></br>
							To get started click <a href="/geronimo_settings">here</a>.</br></br>

					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>
