<h1>Listing teacher_roles</h1>
</br>
<%= link_to 'New Teacher role', new_teacher_role_path %>
<hr>
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teacher_roles.each do |teacher_role| %>
      <tr>
        <td><%= teacher_role.description %></td>
        <td><%= link_to 'Show', teacher_role %></td>
        <td><%= link_to 'Edit', edit_teacher_role_path(teacher_role) %></td>
        <td><%= link_to 'Remove', teacher_role, method: :delete, data: { confirm: 'Are you sure you want to remove the teacher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
