<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<% if current_user.nil? %>
				<a class="navbar-brand" href="../demo"><i class="glyphicon glyphicon-tower"></i> GERONIMO!!!</a>
			<% else %>
				<a class="navbar-brand" href="../geronimo_settings"><i class="glyphicon glyphicon-tower"></i> GERONIMO!!!</a>
			<% end %>
			<nav>
				<ul class="nav navbar-nav navbar-right">
					<% if sign_in? %>
						
						<% if current_user.type == 2 %>
							<li>
								<%= link_to tags_path() do %> 
									Idea Tags <i class="glyphicon glyphicon-book"></i> 
								<% end %>
							</li>
							<li>
								<%= link_to new_idea_path() do %> 
									Broadcast Message <i class="glyphicon glyphicon-comment"></i> 
								<% end %>
							</li>
						<% end %>
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Ideas <i class="glyphicon glyphicon-edit"></i> <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<% if current_user.type == 3 %>
									<li>
										<%= link_to 'My Ideas', get_portal_ideas_path(1,0,0,0) %>
									</li>
								<% end %>
								<% if current_user.type == 2 %>
									<li>
										<%= link_to 'Class Ideas', get_portal_ideas_path(2,0,0,0) %> 
									</li>
								<% else %>
									<li>
										<%= link_to 'Class Ideas', get_portal_ideas_path(2,0,1,0) %> 
									</li>
								<% end %>
								<li>
									<%= link_to 'School Ideas', get_portal_ideas_path(3,0,0,0) %> 
								</li>
							</ul>
						</li>

						<li>
							<%= link_to user_path(current_user) do %> 
								POINTS BANK <i class="glyphicon glyphicon-star-empty"></i> 
							<% end %>
						</li>
						
 						<li>
 							<%= link_to signout_path, :method => 'delete' do %> 
								Sign out <i class="glyphicon glyphicon-off"></i> 
							<% end %>
 						</li>
 						
 					<% end %>
 					
				</ul>
			</nav>
		</div>
	</div>	
</header>